.fruits{
    border: 3px solid blue;
    text-align: center;
    font-family: Chilanka;
    background-color: #efbc13;
    margin: 30px;
    padding: 10px;
    font-size: 20px;

}
.cars{
    border: 3px dotted #0a0a0a;
    text-align: center;
    font-family: "Droid Sans Mono";
    background-color: #ffffff;
    margin: 30px;
    padding: 10px;
    font-size: 20px;
}
.FRUITS {
    border: 3px double #d71212;
    text-align: center;
    font-family: "monospace";
    background-color: #8c8888;
    margin: 30px;
    padding: 10px;
    font-size: 20px;
}
#computer{
     border: 3px solid #49578d;
    text-align: center;
    font-family: "ui-sans-serif";
    background-color: #c1c4d2;
    margin: 30px;
    padding: 10px;
    font-size: 20px;
}